html {
  font-family: "Open Sans", sans-serif;
}

h1{
  text-align: center;
  font-size: 38pt;
  font-weight: bold;
}

h2{
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
}

h3{
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
}

h4{
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

body{
  font-size: 18pt;
}

.citation {
  text-align: right;
}
